#signin {
  // background: $color-clouds;
  margin-top: 18vh;

  .content {
    border: 1px solid $color-clouds;
    // background: $color-clouds;
    padding-bottom: 20px;
    border-radius: 5px;

    .title {
      text-align: center;

      .glyphicon {
        font-size: 1.3em;
      }
    }

    .submit {
      margin-bottom: 15px;
    }
  }
}